* {
    box-sizing: border-box;
}

//code element style
pre {
    position: relative;
    background: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #999;
    padding: 10px !important;
}